<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Article</title>
</head>

<body>
    <section class="home-link center">
        <div class="home-link__container">
            <a href="../../index.html">HOME</a>
        </div>
    </section>

    <section class="article">
        <div class="article__container">

            <div class="article__heading-box">

                <div class="article__heading-box-image">
                    <img src="../../assets/image/img/article/heading_image.jpg" alt="Heading Image">
                </div>

                <div class="article__heading-box-heading">
                    <h1>There is a&nbsp;seven post headline</h1>
                </div>
            </div>

            <div class="article-box">

                <div class="article-box__menu">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Second info</a></li>
                        <li><a href="#">More</a></li>
                        <li><a href="#">Headline</a></li>
                        <li><a href="#">End</a></li>
                    </ul>
                </div>

                <div class="article-box__content">
                    <p>Dignissim aliquet magna iaculis sollicitudin. Vel eu tincidunt vehicula feugiat condimentum augue
                        nec. In egestas
                        adipiscing a nunc. Sit mi facilisi consectetur turpis. Diam vulputate et consequat eu metus
                        ultrices. Ut vestibulum amet
                        ut ut felis nisi. Turpis ipsum interdum a curabitur parturient ipsum ipsum convallis. Laoreet
                        ipsum morbi eu blandit ut
                        sit imperdiet. Tellus risus purus in tempus. Quam sed at in sed cras lorem amet condimentum.
                        Integer risus nisl senectus
                        adipiscing. Lacus cursus elit eu hendrerit nulla. Consectetur ultricies nulla mi faucibus sed.
                        Mi nec in nisl nec
                        imperdiet lacus. Posuere tempus ipsum ac pharetra. Orci feugiat dolor urna scelerisque viverra
                        ante erat ipsum amet.
                        Arcu mollis sagittis aliquet nibh risus in luctus non. Sed nulla proin nisl vitae viverra. Cum
                        viverra pellentesque
                        etiam vitae aenean proin tristique. In justo felis in sit tempus. Facilisis pellentesque sit ac
                        nisi varius semper nisi
                        sed. Est velit viverra phasellus nullam maecenas ac. Eu tristique eu sed odio sit nunc. Blandit
                        id purus ullamcorper
                        pulvinar. Tristique tristique eu et interdum felis ipsum. Libero sit id morbi tincidunt.
                        Volutpat purus porttitor massa
                        tincidunt sed. Id a enim non quisque tortor urna diam a cras. Suscipit luctus mauris quis
                        lectus. Erat ligula lectus
                        felis tempor. Ac massa diam mi at amet in. A tellus sem commodo faucibus risus. Netus
                        scelerisque dictumst lorem cras
                        laoreet.</p>

                    <h3>Maecenas eu pellentesque sit dui quam cras vel</h3>

                    <p>Ut pulvinar sit at luctus velit. Tortor maecenas eu pellentesque sit dui quam cras vel. Aliquam
                        aliquet lectus et
                        pellentesque etiam id massa curabitur et. Fringilla cursus lacus eu ut vitae in eget diam.
                        Varius massa purus
                        consectetur eget sollicitudin. In commodo dignissim ante tincidunt adipiscing in posuere a
                        felis. Faucibus hendrerit
                        egestas netus sed dolor diam vitae et quam. Id eget eleifend quis turpis placerat non et nunc.
                        Nibh suspendisse ultrices
                        egestas purus elementum rhoncus. Risus ac nam bibendum aliquet at. Fusce consectetur adipiscing
                        egestas amet consequat
                        ut velit faucibus. Ut nullam lectus eu eu dolor eu suscipit faucibus. Suspendisse lectus sed hac
                        urna tellus. Fringilla
                        sed lectus ipsum maecenas neque velit elit sodales. Sed cursus adipiscing odio fusce. Purus
                        faucibus mauris est ac massa
                        purus penatibus viverra pharetra.</p>

                    <h3>Suspendisse lectus sed</h3>

                    <p>Fusce consectetur adipiscing egestas amet consequat ut velit faucibus. Ut nullam lectus eu eu
                        dolor eu suscipit
                        faucibus. Suspendisse lectus sed hac urna tellus. Fringilla sed lectus ipsum maecenas neque
                        velit elit sodales. Sed
                        cursus adipiscing odio fusce. Purus faucibus mauris est ac massa purus penatibus viverra
                        pharetra.</p>
                </div>
            </div>

            <div class="article__cards">

                <div class="article__card">

                    <div class="article__card-image">
                        <img src="../../assets/image/img/article/article_image_01.png" alt="article Image 01">
                    </div>

                    <div class="article__card-info">

                        <div class="article__card-brief">
                            <span class="article__card-info-category">category</span>
                            <span class="article__card-info-dot"><img
                                    src="../../assets/image/icon/article/article_info_dot.svg" alt="Dot"></span>
                            <span class="article__card-info-date">15.05.2024</span>
                            <span class="article__card-info-dot"><img
                                    src="../../assets/image/icon/article/article_info_dot.svg" alt="Dot"></span>
                            <span class="article__card-info-time">15 min</span>
                        </div>

                        <a href="#" class="article__card-title">
                            There is a seven post headline
                        </a>

                        <div class="article__card-text">
                            This is a field to be filled it with a description right under the headline. Use a short
                            text to
                            expand the meaning of
                            your title
                        </div>

                        <div class="article__card-author">

                            <div class="article__card-author-image">
                                <img src="../../assets/image/img/article/author_photo_01.png" alt="Author Photo 01">
                            </div>

                            <div class="article__card-author-name">
                                author
                            </div>
                        </div>
                    </div>
                </div>

                <div class="article__card">

                    <div class="article__card-image">
                        <img src="../../assets/image/img/article/article_image_02.png" alt="article Image 02">
                    </div>

                    <div class="article__card-info">

                        <div class="article__card-brief">
                            <span class="article__card-info-category">category</span>
                            <span class="article__card-info-dot"><img
                                    src="../../assets/image/icon/article/article_info_dot.svg" alt="Dot"></span>
                            <span class="article__card-info-date">15.05.2024</span>
                            <span class="article__card-info-dot"><img
                                    src="../../assets/image/icon/article/article_info_dot.svg" alt="Dot"></span>
                            <span class="article__card-info-time">15 min</span>
                        </div>

                        <a href="#" class="article__card-title">
                            There is a seven post headline
                        </a>

                        <div class="article__card-text">
                            This is a field to be filled it with a description right under the headline. Use a short
                            text to
                            expand the meaning of
                            your title
                        </div>

                        <div class="article__card-author">

                            <div class="article__card-author-image">
                                <img src="../../assets/image/img/article/author_photo_01.png" alt="Author Photo 01">
                            </div>

                            <div class="article__card-author-name">
                                author
                            </div>
                        </div>
                    </div>
                </div>

                <div class="article__card">

                    <div class="article__card-image">
                        <img src="../../assets/image/img/article/article_image_03.png" alt="article Image 03">
                    </div>

                    <div class="article__card-info">

                        <div class="article__card-brief">
                            <span class="article__card-info-category">category</span>
                            <span class="article__card-info-dot"><img
                                    src="../../assets/image/icon/article/article_info_dot.svg" alt="Dot"></span>
                            <span class="article__card-info-date">15.05.2024</span>
                            <span class="article__card-info-dot"><img
                                    src="../../assets/image/icon/article/article_info_dot.svg" alt="Dot"></span>
                            <span class="article__card-info-time">15 min</span>
                        </div>

                        <a href="#" class="article__card-title">
                            There is a seven post headline
                        </a>

                        <div class="article__card-text">
                            This is a field to be filled it with a description right under the headline. Use a short
                            text to
                            expand the meaning of
                            your title
                        </div>

                        <div class="article__card-author">

                            <div class="article__card-author-image">
                                <img src="../../assets/image/img/article/author_photo_01.png" alt="Author Photo 01">
                            </div>

                            <div class="article__card-author-name">
                                author
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="article__btn" type="submit"><span>GET IN TOUCH</span><span>SEE MORE</span><img
                    src="../../assets/image/img/article/button-arrow.svg" alt="Button Arrow"></button>
        </div>
    </section>

</body>

</html>