<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Blog</title>
</head>

<body>

    <!-- === Временный модуль, удалить по завершении === -->
    <section class="home-link center">
        <div class="home-link__container">
            <a href="../../index.html">HOME</a>
        </div>
    </section>
    <!-- --- Временный модуль, удалить по завершении --- -->


    <section class="blog">
        <div class="blog__container">

            <div class="blog__heading">
                <h1>blog</h1>
            </div>

            <div class="blog__cards">

                <div class="blog__card">

                    <div class="blog__card-image">
                        <img src="../../assets/image/img/blog/blog_image_01.png" alt="Blog Image 01">
                    </div>

                    <div class="blog__card-info">

                        <div class="blog__card-brief">
                            <span class="blog__card-info-category">category</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-date">15.05.2024</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-time">15 min</span>
                        </div>

                        <a href="#" class="blog__card-title">
                            There is a seven post headline
                        </a>

                        <div class="blog__card-text">
                            This is a field to be filled it with a description right under the headline. Use a short
                            text to
                            expand the meaning of
                            your title
                        </div>

                        <div class="blog__card-author">

                            <div class="blog__card-author-image">
                                <img src="../../assets/image/img/blog/author_photo_01.png" alt="Author Photo 01">
                            </div>

                            <div class="blog__card-author-name">
                                author
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog__card">

                    <div class="blog__card-image">
                        <img src="../../assets/image/img/blog/blog_image_02.png" alt="Blog Image 02">
                    </div>

                    <div class="blog__card-info">

                        <div class="blog__card-brief">
                            <span class="blog__card-info-category">category</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-date">15.05.2024</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-time">15 min</span>
                        </div>

                        <a href="#" class="blog__card-title">
                            There is a seven post headline
                        </a>

                        <div class="blog__card-text">
                            This is a field to be filled it with a description right under the headline. Use a short
                            text to
                            expand the meaning of
                            your title
                        </div>

                        <div class="blog__card-author">

                            <div class="blog__card-author-image">
                                <img src="../../assets/image/img/blog/author_photo_01.png" alt="Author Photo 01">
                            </div>

                            <div class="blog__card-author-name">
                                author
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog__card">

                    <div class="blog__card-image">
                        <img src="../../assets/image/img/blog/blog_image_03.png" alt="Blog Image 03">
                    </div>

                    <div class="blog__card-info">

                        <div class="blog__card-brief">
                            <span class="blog__card-info-category">category</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-date">15.05.2024</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-time">15 min</span>
                        </div>

                        <a href="#" class="blog__card-title">
                            There is a seven post headline
                        </a>

                        <div class="blog__card-text">
                            This is a field to be filled it with a description right under the headline. Use a short
                            text to
                            expand the meaning of
                            your title
                        </div>

                        <div class="blog__card-author">

                            <div class="blog__card-author-image">
                                <img src="../../assets/image/img/blog/author_photo_01.png" alt="Author Photo 01">
                            </div>

                            <div class="blog__card-author-name">
                                author
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog__card">

                    <div class="blog__card-image">
                        <img src="../../assets/image/img/blog/blog_image_04.png" alt="Blog Image 04">
                    </div>

                    <div class="blog__card-info">

                        <div class="blog__card-brief">
                            <span class="blog__card-info-category">category</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-date">15.05.2024</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-time">15 min</span>
                        </div>

                        <a href="#" class="blog__card-title">
                            There is a seven post headline
                        </a>

                        <div class="blog__card-text">
                            This is a field to be filled it with a description right under the headline. Use a short
                            text to
                            expand the meaning of
                            your title
                        </div>

                        <div class="blog__card-author">

                            <div class="blog__card-author-image">
                                <img src="../../assets/image/img/blog/author_photo_01.png" alt="Author Photo 01">
                            </div>

                            <div class="blog__card-author-name">
                                author
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog__card">

                    <div class="blog__card-image">
                        <img src="../../assets/image/img/blog/blog_image_05.png" alt="Blog Image 05">
                    </div>

                    <div class="blog__card-info">

                        <div class="blog__card-brief">
                            <span class="blog__card-info-category">category</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-date">15.05.2024</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-time">15 min</span>
                        </div>

                        <a href="#" class="blog__card-title">
                            There is a seven post headline
                        </a>

                        <div class="blog__card-text">
                            This is a field to be filled it with a description right under the headline. Use a short
                            text to
                            expand the meaning of
                            your title
                        </div>

                        <div class="blog__card-author">

                            <div class="blog__card-author-image">
                                <img src="../../assets/image/img/blog/author_photo_01.png" alt="Author Photo 01">
                            </div>

                            <div class="blog__card-author-name">
                                author
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog__card">

                    <div class="blog__card-image">
                        <img src="../../assets/image/img/blog/blog_image_06.png" alt="Blog Image 06">
                    </div>

                    <div class="blog__card-info">

                        <div class="blog__card-brief">
                            <span class="blog__card-info-category">category</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-date">15.05.2024</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-time">15 min</span>
                        </div>

                        <a href="#" class="blog__card-title">
                            There is a seven post headline
                        </a>

                        <div class="blog__card-text">
                            This is a field to be filled it with a description right under the headline. Use a short
                            text to
                            expand the meaning of
                            your title
                        </div>

                        <div class="blog__card-author">

                            <div class="blog__card-author-image">
                                <img src="../../assets/image/img/blog/author_photo_01.png" alt="Author Photo 01">
                            </div>

                            <div class="blog__card-author-name">
                                author
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog__card">

                    <div class="blog__card-image">
                        <img src="../../assets/image/img/blog/blog_image_07.png" alt="Blog Image 07">
                    </div>

                    <div class="blog__card-info">

                        <div class="blog__card-brief">
                            <span class="blog__card-info-category">category</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-date">15.05.2024</span>
                            <span class="blog__card-info-dot"><img src="../../assets/image/icon/blog/blog_info_dot.svg"
                                    alt="Dot"></span>
                            <span class="blog__card-info-time">15 min</span>
                        </div>

                        <a href="#" class="blog__card-title">
                            There is a seven post headline
                        </a>

                        <div class="blog__card-text">
                            This is a field to be filled it with a description right under the headline. Use a short
                            text to
                            expand the meaning of
                            your title
                        </div>

                        <div class="blog__card-author">

                            <div class="blog__card-author-image">
                                <img src="../../assets/image/img/blog/author_photo_01.png" alt="Author Photo 01">
                            </div>

                            <div class="blog__card-author-name">
                                author
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>

</html>