<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Border-list</title>
</head>

<body>
    <section class="home-link center">
        <div class="home-link__container">
            <a href="../../index.html">HOME</a>
        </div>
    </section>

    <!-- border-list -->
    <section class="section section--pb-half section__border-list border-list bg--midnight-blue">
        <div class="section__container border-list__container">
            <div class="section__heading border-list__heading">
                <h2 class="section__heading-text border-list__heading-text">PRODUCT CHARACTERISTIC AT GLANCE</h2>
            </div>

            <div class="section__content border-list__content">

                <div class="border-list__boxs">

                    <div class="border-list__box">

                        <div class="border-list__title-wrapper">

                            <div class="border-list__image">
                                <img src="../../assets/image/img/border-list/border-list-img-01.svg"
                                    alt="Border-list Image 1">
                            </div>

                            <div class="border-list__title">
                                <h4 class="border-list__title-text">QUICK IMPLEMENTATION</h4>
                            </div>
                        </div>


                        <ul class="border-list__items">
                            <li class="border-list__item">FinON implementation team supports smooth and quick Instant
                                Payments Gateway integration with Financial Institution’s
                                core systems and central (bank’s) payments infrastructure based on ISO20022 protocol.
                            </li>

                            <li class="border-list__item">Support existing digital channels such as Mobile and Internet
                                Banking as well as WhiteLabel App for payment initiation.</li>
                        </ul>
                    </div>


                    <div class="border-list__box">

                        <div class="border-list__title-wrapper">

                            <div class="border-list__image">
                                <img src="../../assets/image/img/border-list/border-list-img-02.svg"
                                    alt="Border-list Image 2">
                            </div>

                            <div class="border-list__title">
                                <h4 class="border-list__title-text">RISK-BASED AUTHENTICATION</h4>
                            </div>
                        </div>


                        <ul class="border-list__items">
                            <li class="border-list__item">Single solution to support all possible use cases and
                                scenarios (C2C, C2B, B2B, C2G, C2C cross-border, etc.). Additional
                                caching capabilities for better UX.</li>

                            <li class="border-list__item">Intuitive user interface and build-in analytic dashboards.
                            </li>
                        </ul>
                    </div>

                    <div class="border-list__box">

                        <div class="border-list__title-wrapper">

                            <div class="border-list__image">
                                <img src="../../assets/image/img/border-list/border-list-img-03.svg"
                                    alt="Border-list Image 3">
                            </div>

                            <div class="border-list__title">
                                <h4 class="border-list__title-text">VERSATILE</h4>
                            </div>
                        </div>


                        <ul class="border-list__items">
                            <li class="border-list__item">Modern micro-services architecture makes any customization or
                                new features delivery in the most time and cost-efficient
                                manner.</li>

                            <li class="border-list__item">Highly scalable - supports containerization
                                and most mainstream load balancers.</li>

                            <li class="border-list__item">and most mainstream load balancers.</li>

                            <li class="border-list__item">Supported message protocols: ISO 20022, Custom JSON, GRPC,
                                Custom XML</li>

                            <li class="border-list__item">Advanced technology stack (Kubernetes, DevOps, OpenAPI, REST
                                API, Swagger, Kafka Streaming)</li>
                        </ul>
                    </div>

                    <div class="border-list__box">

                        <div class="border-list__title-wrapper">

                            <div class="border-list__image">
                                <img src="../../assets/image/img/border-list/border-list-img-04.svg"
                                    alt="Border-list Image 4">
                            </div>

                            <div class="border-list__title">
                                <h4 class="border-list__title-text">RISK MANAGEMENT</h4>
                            </div>
                        </div>


                        <ul class="border-list__items">
                            <li class="border-list__item">Payment widgets with dynamic QR generation features for X2B
                                and X2G use cases</li>

                            <li class="border-list__item">Universal API for integration with merchant infrastructure
                                (POS terminals, E-commerce portal, etc.)</li>

                            <li class="border-list__item">Smart transaction routing engine enables simple implementation
                                of cross-border instant payment schemes like UPI with the
                                same software.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- border-list -->
</body>

</html>