<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Contact-us</title>
</head>

<body>
    <!-- === Временный модуль, удалить по завершении === -->
    <section class="home-link">
        <div class="home-link__container">
            <a href="../../index.html">HOME</a>
        </div>

    </section>
    <!-- --- Временный модуль, удалить по завершении --- -->


    <section class="contact-us">
        <div class="contact-us__container">

            <div class="contact-us__heading">
                <h1>contact us</h1>
            </div>

            <div class="contact-us__info">

                <div class="shorts">

                    <div class="shorts__item">
                        <h3 class="shorts__item-title">Name</h3>
                        <p class="shorts__item-text">Finon Technology L.L.C. (فينون للتكنولوجيا)</p>
                    </div>

                    <div class="shorts__item">
                        <h3 class="shorts__item-title">License N</h3>
                        <p class="shorts__item-text">1099399</p>
                    </div>

                    <div class="shorts__item">
                        <h3 class="shorts__item-title">email</h3>
                        <p class="shorts__item-text">info@finon.tech</p>
                    </div>

                    <div class="shorts__item">
                        <h3 class="shorts__item-title">ADDRESS</h3>
                        <p class="shorts__item-text">Office 203, Regus Sport City, The Bridge Tower, Dubai, United Arab
                            Emirates</p>
                    </div>

                    <div class="shorts__item shorts__btns">
                        <a href="#" class="shorts__item-btn"><img src="../../assets/image/icon/contact-us/linkedin.svg"
                                alt=""><span>LinkedIn</span></a>
                        <a href="#" class="shorts__item-btn"><img src="../../assets/image/icon/contact-us/whatsapp.svg"
                                alt=""><span>whats app</span></a>
                    </div>
                </div>

                <div class="form">
                    <form action="#">
                        <label class="form__name">Name
                            <input type="text" name="form__name" placeholder="Name">
                        </label>

                        <label class="form__company">Company
                            <input type="text" name="form__company" placeholder="Company name">
                        </label>

                        <label class="form__email">Email
                            <input type="email" name="form__email" placeholder="Your email address">
                        </label>

                        <label class="form__comments" name="form__comments">Comments
                            <textarea name="form__comments" placeholder="Your comments..." rows="6"></textarea>
                        </label>

                        <button class="form__btn" type="submit">SEND REQUEST</button>

                        <p class="form__remark">You agree to our Terms and Conditions</p>

                    </form>

                </div>

            </div>
        </div>
    </section>

</body>

</html>