<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Custom-dev</title>
</head>

<body>

    <section class="home-link center">
        <div class="home-link__container">
            <a href="../../index.html">HOME</a>
        </div>
    </section>

    <section class="section section--pt-none section__custom-dev custom-dev">
        <div class="section__container custom-dev__container">
            <div class="section__content custom-dev__content">

                <div class="ideation">

                    <div class="ideation-main">

                        <div class="ideation-main__image">
                            <img src="../../assets/image/img/custom-dev/ideation-main.svg" alt="Ideation-Main">
                        </div>

                        <div class="ideation-main__title">
                            <h2>ideation and analysis</h2>
                        </div>

                        <div class="ideation-main__items">
                            <div class="ideation-main__item">
                                <p>High-level roadmap and investments estimation</p>
                            </div>

                            <div class="ideation-main__item">
                                <p>Idea generation and product definition </p>
                            </div>

                            <div class="ideation-main__item">
                                <p>Business model development</p>
                            </div>

                            <div class="ideation-main__item">
                                <p>Market & competitors research</p>
                            </div>
                        </div>

                    </div>

                    <div class="ideation-cards">

                        <div class="ideation-card card-01">

                            <div class="ideation-card__image">
                                <img src="../../assets/image/img/custom-dev/card-image-01.svg" alt="Card 01">
                            </div>

                            <div class="ideation-card__title">
                                <h4>
                                    Product design with a focus on the user experience, journey maps, and user stories
                                </h4>
                            </div>
                        </div>

                        <div class="ideation-card card-02">

                            <div class="ideation-card__image">
                                <img src="../../assets/image/img/custom-dev/card-image-02.svg" alt="Card 02">
                            </div>

                            <div class="ideation-card__title">
                                <h4>
                                    Iterate, learn, improve, and iterate again and again
                                </h4>
                            </div>
                        </div>

                        <div class="ideation-card card-03">

                            <div class="ideation-card__image">
                                <img src="../../assets/image/img/custom-dev/card-image-03.svg" alt="Card 03">
                            </div>

                            <div class="ideation-card__title">
                                <h4>
                                    Outcomes validation and verification
                                </h4>
                            </div>
                        </div>

                        <div class="ideation-card card-04">

                            <div class="ideation-card__image">
                                <img src="../../assets/image/img/custom-dev/card-image-04.svg" alt="Card 04">
                            </div>

                            <div class="ideation-card__title">
                                <h4>
                                    Creating prototypes and MVP prototypes for testing business hypotheses
                                </h4>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="development">

                    <div class="development__image">
                        <img src="../../assets/image/img/custom-dev/custom-dev.svg" alt="Custom Dev">

                    </div>

                    <div class="development__info">
                        <div class="development__title">
                            custom development
                        </div>

                        <div class="development__items">

                            <div class="development__item item-01">
                                <p>Customer journey and UX/UI design</p>
                            </div>

                            <div class="development__item item-02">
                                <p>Gather functional and non-functional requirements</p>
                            </div>

                            <div class="development__item item-03">
                                <p>IT solution architecture design</p>
                            </div>

                            <div class="development__item item-04">
                                <p>Agile development and integration</p>
                            </div>

                            <div class="development__item item-05">
                                <p>Deployment and launch</p>
                            </div>

                            <div class="development__item item-06">
                                <p>Quality assurance (automated, manual and security testing)</p>
                            </div>

                            <div class="development__item item-07">
                                <p>Ongoing customer support 24/7</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</body>

</html>