<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Outstaff</title>
</head>

<body>
    <section class="home-link center">
        <div class="home-link__container">
            <a href="../../index.html">HOME</a>
        </div>
    </section>

    <section class="outstaff">
        <div class="outstaff__container">

            <div class="outstaff__heading-box">

                <div class="outstaff__heading-box-info">

                    <div class="outstaff__heading-box-heading">
                        <h1>outstaff</h1>
                    </div>

                    <div class="outstaff__heading-box-text">
                        <p>Need to scale your team with specialized fintech talent? FinOn's Team Augmentation service
                            provides on-demand experts to
                            enhance your in-house capabilities.</p>
                    </div>

                    <button class="outstaff__btn" type="submit"><span>GET IN TOUCH</span><span>SEE MORE</span><img
                            src="../../assets/image/img/outstaff/button-arrow.svg" alt="Button Arrow"></button>
                </div>

                <div class="outstaff__heading-box-image">
                    <img src="../../assets/image/img/outstaff/heading_image.svg" alt="Heading Image">
                </div>
            </div>
        </div>
    </section>

    <section class="outstaff pg-service">
        <div class="outstaff__container pg-service">

            <div class="outstaff__heading-box">

                <div class="outstaff__heading-box-info">

                    <div class="outstaff__heading-box-heading">
                        <h1>Payment Gateway
                            as a Service</h1>
                    </div>

                    <div class="outstaff__heading-box-text">
                        <p>Reduce cost and increase revenue for your business our seamless, secure, and scalable payment
                            platform</p>
                    </div>

                    <button class="outstaff__btn" type="submit"><span>GET IN TOUCH</span><span>SEE MORE</span><img
                            src="../../assets/image/img/pg-service/button-arrow.svg" alt="Button Arrow"></button>
                </div>

                <div class="outstaff__heading-box-image pg-service">
                    <img src="../../assets/image/img/pg-service/heading_image-1.svg" alt="Heading Image">
                </div>
            </div>
        </div>
    </section>

</body>

</html>