<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Innov-features</title>
</head>

<body>

    <section class="home-link center">
        <div class="home-link__container">
            <a href="../../index.html">HOME</a>
        </div>
    </section>

    <!-- innov-features -->
    <section class="section section--pt-half section__innov-features innov-features bg--light-sky">
        <div class="section__container innov-features__container">
            <div class="section__heading innov-features__heading">
                <h2 class="section__heading-text innov-features__heading-text">INNOVATIVE FEATURES TO&nbsp;DRIVE GROWTH
                </h2>
            </div>

            <div class="section__content innov-features__content">

                <div class="innov-features__box">

                    <div class="innov-features__image">
                        <img src="../../assets/image/img/innov-features/main_image.jpg" alt="Innov-Main">
                    </div>

                    <div class="innov-features__cards">

                        <div class="innov-features__card">

                            <div class="innov-features__card-image">
                                <img src="../../assets/image/img/innov-features/card-image-01.svg" alt="Card 01">
                            </div>

                            <div class="innov-features__card-title">
                                <h4>
                                    PAY BY LINK
                                </h4>
                            </div>

                            <div class="innov-features__card-text">
                                <p>
                                    Generate and send a unique one-time payment link or QR code that provides a seamless
                                    customer experience. Payment link
                                    could be embedded into an invoice that reduces time tracking down unpaid invoices
                                    and payment status
                                </p>
                            </div>
                        </div>

                        <div class="innov-features__card">

                            <div class="innov-features__card-image">
                                <img src="../../assets/image/img/innov-features/card-image-02.svg" alt="Card 02">
                            </div>

                            <div class="innov-features__card-title">
                                <h4>
                                    CARD ON FILE
                                </h4>
                            </div>

                            <div class="innov-features__card-text">
                                <p>
                                    Accepting repeat transactions has never been easier with our payment tokenization,
                                    allowing customers to make quick
                                    one-click payments while ensuring maximum safety
                                </p>
                            </div>
                        </div>

                        <div class="innov-features__card">

                            <div class="innov-features__card-image">
                                <img src="../../assets/image/img/innov-features/card-image-03.svg" alt="Card 03">
                            </div>

                            <div class="innov-features__card-title">
                                <h4>
                                    SUBSCRIPTIONS
                                </h4>
                            </div>

                            <div class="innov-features__card-text">
                                <p>
                                    All businesses love recurring payments - provide your merchants with subscription
                                    payment services (weekly, monthly,
                                    quarterly, yearly, etc.)
                                </p>
                            </div>
                        </div>

                        <div class="innov-features__card">

                            <div class="innov-features__card-image">
                                <img src="../../assets/image/img/innov-features/card-image-04.svg" alt="Card 04">
                            </div>

                            <div class="innov-features__card-title">
                                <h4>
                                    PAYMENT SDK
                                </h4>
                            </div>

                            <div class="innov-features__card-text">
                                <p>
                                    Payment SDK for iOS and Android platforms supports native integration with iOS and
                                    Android apps, providing a smooth and
                                    secure payment experience for end-users improving conversion
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- innov-features -->

</body>

</html>