<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <title>Scheme</title>
</head>

<body>

    <section class="home-link center">
        <div class="home-link__container">
            <a href="../../index.html">HOME</a>
        </div>
    </section>

    <section class="section section__intro-banner intro-banner intro-banner--scheme">
        <img src="../../assets/image/img/scheme/banner-scheme-bg.jpg" alt="bg" class="intro-banner__bg">

        <div class="section__container intro-banner__container">
            <div class="section__content intro-banner__content scheme">

                <div class="scheme__box">

                    <div class="scheme__heading">
                        <h2>what is instant payments scheme?</h2>
                    </div>

                    <div class="scheme__text">
                        <p>Countries that implemented instant payments witnessed a significant increase in transaction
                            turnover and improved
                            customer experience by creating new payment services such as transferring money to a
                            recipient’s phone number or email,
                            qr code payments, request to pay, and other innovative features</p>
                    </div>

                    <div class="scheme__cards">

                        <div class="scheme__card">

                            <div class="scheme__card-image">
                                <img src="../../assets/image/img/scheme/card-img-01.svg" alt="Card 01">
                            </div>

                            <div class="scheme__card-title">
                                <h4>Instant Payments</h4>
                            </div>
                        </div>

                        <div class="scheme__card">

                            <div class="scheme__card-image">
                                <img src="../../assets/image/img/scheme/card-img-02.svg" alt="Card 02">
                            </div>

                            <div class="scheme__card-title">
                                <h4>Real Time Payments</h4>
                            </div>
                        </div>

                        <div class="scheme__card">
                            <div class="scheme__card-image">
                                <img src="../../assets/image/img/scheme/card-img-03.svg" alt="Card 03">
                            </div>

                            <div class="scheme__card-title">
                                <h4>Immediate Payments</h4>
                            </div>

                        </div>

                        <div class="scheme__card">
                            <div class="scheme__card-image">
                                <img src="../../assets/image/img/scheme/card-img-04.svg" alt="Card 04">
                            </div>

                            <div class="scheme__card-title">
                                <h4>Faster Payments</h4>
                            </div>

                        </div>
                    </div>

                    <div class="scheme__image">
                        <img class="scheme__image-desktop" src="../../assets/image/img/scheme/planets-desktop.svg"
                            alt="Planets Desktop">

                        <img class="scheme__image-pad" src="../../assets/image/img/scheme/planets-pad.svg"
                            alt="Planets Pad">

                        <img class="scheme__image-mob" src="../../assets/image/img/scheme/planets-mob.svg"
                            alt="Planets Mob">
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>