// horz swipe


.horz-swipe {
    @include media-max(lg) {
        width: inherit;
        overflow: hidden;
        overflow-x: auto;
        margin-inline: -24px;

        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 24px, black calc(100% - 15px), transparent 100%);
        mask-image: linear-gradient(to right, transparent 0%, black 24px, black calc(100% - 24px), transparent 100%);

        &__inner {
            width: inherit;
            padding-inline: 24px;
            padding-bottom: 10px;
        }
    }
}


// scrollbar

// ::-webkit-scrollbar {
//     width: 1px;
//     height: 1px;
// }

// ::-webkit-scrollbar-track-piece {
//     background-color: #fff;
// }

// ::-webkit-scrollbar-thumb:vertical {
//     height: 30px;
//     background-color: #fff;
// }