:root {
    --font-size-18-14-14: 18px;
    --font-size-14-12-14: 14px;
}

.outstaff {
    background-color: var(--color-grey-bg);
    margin: 0 auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        outline: none;
        background: none;
        padding: 0;
        margin: 0;
    }

    --color-grey-bg: #F7FAFB;
    --color-grey-lbl: #171A26;
    --color-grey-phold: rgba(23, 26, 38, 0.64);
    --color-grey-txt: #939AAA;

    --color-black-btn-txt: #2c3246;
    --color-black-btn-bg: #73ffab;

    --color-green-txt: #2ac77b;



    & .outstaff__container {
        padding-top: 96px;
        padding-bottom: 105px;
        width: clamp(360px, 100%, 1440px);
        padding-inline: 120px;
    }

    &__heading-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 222px;

        &-info {
            width: 475px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 42px;
        }

        &-heading h1 {
            font-size: 80px;
            line-height: 90%;
            font-weight: 800;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: var(--color-green-txt);
        }

        &-text p {
            font-size: var(--font-size-18-14-14);
            line-height: 115%;
            font-weight: 400;
            letter-spacing: -0.01em;
            color: #2c3246;
        }

        &-image {
            width: 427px;
            padding-left: 0;
            overflow: hidden;

            & img {
                width: 100%;
            }
        }
    }

    &__btn {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 8px;

        border-radius: 32px;

        padding: 16px 24px;
        width: fit-content;

        background: var(--color-black-btn-bg);

        & span {
            font-size: var(--font-size-14-12-14);
            line-height: 100%;
            font-weight: 700;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: var(--color-black-btn-txt);
        }

        & span:first-of-type {
            display: block;
        }

        & span:last-of-type {
            display: none;
        }

        &:hover {
            opacity: 0.64;
        }
    }
}

@media(max-width: 1440px) {
    .outstaff {
        & .outstaff__container {
            padding-inline: calc(32px + (120 - 32) * ((100vw - 1264px) / (1440 - 1264)));
        }
    }
}

/* Для переменных */
@media(max-width: 1264px) {
    :root {
        --font-size-18-14-14: calc(14px + (18 - 14) * ((100vw - 768px) / (1264 - 768)));
        --font-size-14-12-14: calc(12px + (14 - 12) * ((100vw - 768px) / (1264 - 768)));
    }
}

@media(max-width: 1264px) {

    .outstaff {

        & .outstaff__container {
            padding-inline: 32px;
            padding-top: calc(92px + (96 - 92) * ((100vw - 768px) / (1264 - 768)));
            padding-bottom: calc(129px + (105 - 129) * ((100vw - 768px) / (1264 - 768)));
        }

        &__heading-box {
            /*             padding-bottom: calc(32px + (48 - 32) * ((100vw - 768px) / (1264 - 768))); */
            gap: calc(63px + (222 - 63) * ((100vw - 768px) / (1264 - 768)));

            &-info {
                width: calc(309px + (475 - 309) * ((100vw - 768px) / (1264 - 768)));
                gap: calc(32px + (42 - 32) * ((100vw - 768px) / (1264 - 768)));
            }

            &-image {
                width: calc(304px + (427 - 304) * ((100vw - 768px) / (1264 - 768)));
            }
        }

        &__heading-box-heading h1 {
            font-size: calc(52px + (80 - 52) * ((100vw - 768px) / (1264 - 768)));
        }

        &__btn {
            padding: calc(11px + (16 - 11) * ((100vw - 768px) / (1264 - 768))) calc(18px + (24 - 18) * ((100vw - 768px) / (1264 - 768)));
        }
    }
}

/* Для переменных */
@media(max-width: 768px) {
    :root {
        --font-size-18-14-14: 14px;
        --font-size-14-12-14: calc(14px + (12 - 14) * ((100vw - 360px) / (768 - 360)));
    }
}

@media(max-width: 768px) {
    .outstaff {

        & .outstaff__container {
            padding-inline: calc(18px + (32 - 18) * ((100vw - 360px) / (768 - 360)));
            padding-top: calc(69px + (92 - 69) * ((100vw - 360px) / (768 - 360)));
            padding-bottom: calc(58px + (129 - 58) * ((100vw - 360px) / (768 - 360)));

        }

        &__heading-box {

            &-info {
                gap: calc(20px + (32 - 20) * ((100vw - 576px) / (768 - 576)));
            }

            &-text {
                margin-bottom: calc(12px + (0 - 12) * ((100vw - 576px) / (768 - 576)));
            }

            &-image {

                & img {}
            }
        }
    }
}

@media(max-width: 576px) {
    .outstaff {
        &__heading-box {
            flex-direction: column-reverse;
            gap: 58px;

            &-info {
                width: 100%;
                gap: 20px;
            }

            &-text {
                margin-bottom: 12px;
            }

            &-image {
                width: 84%;
                align-self: center;
            }
        }
    }
}

/* Для переменных */
@media(max-width: 360px) {
    :root {
        --font-size-14-12-14: 14px;
    }
}

/* === pg-service ======== */

.pg-service {
    &.outstaff__container {
        padding-top: 72px;
        padding-bottom: 103px;
    }

    &.outstaff__heading-box-image {
        /* width: 296px; */
        width: 585px;
        height: 442px;
        display: flex;
        justify-content: center;

        /* padding-right: 144px; */
        & img {
            height: 100%;
            width: auto;
        }
    }
}

@media(max-width: 1264px) {
    $screen-max-width: 1264;
    $screen-min-width: 768;

    .pg-service {
        &.outstaff__container {
            /* @include responsivity-temp(padding-top, 72, 78, 768, 1264); */
        }
    }
}

@media(max-width: 768px) {
    .pg-service {
        &.outstaff__heading-box-image {
            justify-content: flex-end;
        }
    }
}

@media(max-width: 576px) {
    .pg-service {
        &.outstaff__heading-box-image {
            justify-content: center;
        }
    }
}