.innov-features {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        outline: none;
        background: none;
        padding: 0;
        margin: 0;
    }

    --color-grey-bg: #F7FAFB;
    --color-grey-card-bg: #3d4255;
    --color-grey-lbl: #171A26;
    --color-grey-phold: rgba(23, 26, 38, 0.64);
    --color-grey-txt: #939AAA;

    --color-black-btn-txt: #2c3246;
    --color-black-btn-bg: #73ffab;

    --color-white-text-0: #fff;
    --color-white-text: #eff2f4;

    --color-green-bg:#2AC77B;

    --gap-cards: 24px;



    &__heading {

        max-width: 702px;
        margin-bottom: 64px;

        & h2 {
            font-size: 64px;
            line-height: 100%;
            font-weight: 800;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: var(--color-green-bg);
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }

    &__image {
        width: calc((100% - 24px) / 2);
        aspect-ratio: 0.92;
        border-radius: 18px;
        overflow: hidden;

        & img {
            /* object-fit: contain; */
            height: 100%;
            width: 100%;
            object-fit: cover;

        }
    }

    &__cards {
        width: calc((100% - 24px) / 2);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 18px;
    }

    &__card {
        width: calc((100% - 18px) / 2);
        height: calc((100% - 18px) / 2);
        background-color: var(--color-black-btn-txt);
        border-radius: 19px;
        padding: 24px;

        &:nth-child(3) {
            background-color: var(--color-green-bg);

        }

        &-image {
            margin-bottom: 23px;
            width: 54px;
            height: 54px;

            & img {
                width: 100%;
                height: 100%;
            }
        }

        &-title {
            font-size: 20px;
            line-height: 100%;
            font-weight: 700;
            text-transform: uppercase;
            color: var(--color-green-bg);
            margin-bottom: 18px;
        }

        &-text {
            display: -webkit-box;
            /* Количество строк */
            line-clamp: 7;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            overflow-x: hidden;
            overflow-y: auto;

            & p {
                font-size: 14px;
                line-height: 130%;
                font-weight: 400;
                letter-spacing: 0.01em;
                color: var(--color-white-text-0);
            }
        }
    }

    &__card:nth-child(3) &__card-title {
        color: var(--color-white-text-0);
    }

}

@media(max-width: 1200px) {
    .innov-features {

        &__heading {
            max-width: calc(600px + (702 - 600) * ((100vw - 768px) / (1200 - 768)));
            margin-bottom: calc(56px + (64 - 56) * ((100vw - 768px) / (1200 - 768)));

            & h2 {
                font-size: calc(42px + (64 - 42) * ((100vw - 768px) / (1200 - 768)));
            }
        }

        &__card {
            padding: calc(20px + (24 - 20) * ((100vw - 992px) / (1200 - 992)));

            &-image {
                margin-bottom: 23px;
                /* При перестроении изменить отступ на 32px */
                width: calc(48px + (54 - 48) * ((100vw - 768px) / (1200 - 768)));
                height: calc(48px + (54 - 48) * ((100vw - 768px) / (1200 - 768)));
            }
        }
    }
}

@media(max-width: 992px) {
    .innov-features {
        &__box {
            flex-direction: column;
        }

        &__image {
            width: 100%;
            aspect-ratio: 704 / 264;
        }

        &__cards {
            width: 100%;
            align-items: stretch;
        }

        &__card {
            height: auto;
            padding: 24px;

            &:nth-child(3) {
                order: -1;
            }

            &:nth-child(1) {
                order: -1;
            }
        }
    }
}

@media(max-width: 768px) {
    .innov-features {
        &__heading {

            max-width: calc(290px + (600 - 290) * ((100vw - 360px) / (768 - 360)));
            margin-bottom: calc(32px + (56 - 32) * ((100vw - 360px) / (768 - 360)));

            & h2 {
                font-size: calc(32px + (42 - 32) * ((100vw - 360px) / (768 - 360)));
            }
        }

    }
}

@media(max-width: 576px) {
    .innov-features {
        &__image {
            aspect-ratio: 320 / 180;
        }

        &__card {
            width: 100%;
        }
    }
}